body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffeeff;
  color: #333333;
}

.navbar-laravel {
  background-color: #333333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #fff !important;
}

.nav-link {
  color: #fff !important;
}

.table-dark {
  color: #fff;
}

.list-group-item {
  border-color: #ffeeff;
  background-color: #ffeeff;
}

.login-box {
  background-color: #ffeeff;
}

.login-header {
  background-color: #ffeeff
}

.login-body {
  background-color: #ffeeff
}